/* Background notes CSS */

/* Background color of a page is set like this: */
body {
    background-color: blue;
}

/* Opacity is a percentage - the lower the value, the more transparent */
body {
    background-color: blue;
    opacity: 0.3;
}

/*
    Background image specifies the image to use as the background.
    If used as body, then it sets for whole site. But, you can also specify for certain elements.
*/
body {
    background-image: url("image.png")
}

/* By default, */